<div class="slideshow">
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>

    <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>